/*SLIDER*/

.btn
{
	padding: 0;
	border: none;
	cursor: pointer;
	transition-duration: 0.4s;
}

.btn:hover
{
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.slider
{
	width: 300px;
	height: 300px;
}

.img-box img
{
	height: 300px;
}

p1
{
	line-height: 2;
	text-align: justify;
	float: left;
	font-size: 16px;
}

/*BUTON INFORMAȚII*/

.dropdown
{
	position: relative;
	display: inline-block;
	left: 50%;
}

.dropdown-content
{
	display: none;
	position: absolute;
	background-color: rgba(250, 250, 250, 0.85);
	width: 1070px;
	height: 320px;
	padding: 8px 10px;
	z-index: 1;
}

.dropdown:hover .dropdown-content
{
 	display: block;
	left: -550px;
	top: -337px;
}

/*EXPLICATII*/

.desc
{
	padding: 12px;
	width: 750px;
	border-color:#4E4E4E;
	border-width: 2px;
	border-style: solid;
	border-bottom: none;
	border-right: none;
	float: left;
	font-size: 20px;
	font-weight: bold;
}

.img
{
	padding: 12px;
	width: 240px;
	float: right;
	border-color:#4E4E4E;
	border-width: 2px;
	border-style: solid;
	border-bottom: none;
	font-size: 20px;
	font-size: 20px;
	font-weight: bold;
}

.ant
{
	padding-right: 8px;
	padding-top: 5px;
	border-top-color:#4E4E4E;
	border-top-width: 2px;
	border-top-style: solid;
	float: left;
	font-size: 17px;
	margin-left: 8px;
	font-weight: bold;	
}

.urm
{	padding-left: 5px;
	padding-top: 5px;
	border-color:#4E4E4E;
	border-width: 2px;
	border-style: solid;
	border-bottom: none;
	border-right: none;
	float: left;
	font-size: 17px;
	font-weight: bold;
}